<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Exercice Django Flask</title>

  {% block css %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  {% endblock %}

</head>

<body>

  {% block topbar %}
  <nav class="navbar navbar-light bg-light">
    <h1 class="navbar-brand text-center w-100">{{page_title}}</h1>
  </nav>
  {% endblock %}

  <div class="mt-5">
    {% block content %}
    {% endblock %}
  </div>

  {% block footer %}
  {% endblock %}

  {% block javascript %}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
  {% endblock %}
</body>

</html>