{% extends "front/partials/base.html" %}

{% block content %}

  <h2 class="text-center">{{article.title}}</h2>

  {% if article %}

    <div class="w-75 m-auto mt-5 text-center">
      <p>{{article.content}}</p>
      <br>
      <p><em>publié le {{article.publication_date}} par {{article.author.name}}</em></p>
    </div>

  {% else %}

    <p class="text-center">L'article n'existe pas !</p>
    
  {% endif %}

{% endblock %}