{% extends "front/partials/base.html" %}

{% block content %}

  <h2 class="text-center">Articles récemment publiés :</h2>

  {% if articles %}

    <div class="d-flex flex-wrap w-75 m-auto justify-content-around mt-5">
      {% for article in articles %}
        <div class="card w-25">
          <div class="card-body">
            <p>{{article.content}}</p>
            <a href="{% url 'article_detail' id=article.id %}" class="card-link">Lire l'article</a>
          </div>
        </div>
      {% endfor %}
    </div>

  {% else %}

    <p class="text-center">Pas d'articles !</p>
    
  {% endif %}

{% endblock %}