{% extends "front/partials/base.html" %}

{% block content %}

  <h2 class="text-center">Utilisateurs enregistrés dans l'API :</h2>

  {% if users %}

    <div class="d-flex flex-wrap w-75 m-auto justify-content-around mt-5">
      {% for user in users %}
        <div class="card w-25 m-5">
          <div class="card-body">
            <h5 class="card-title text-center">Utilisateur n°{{user.id}}</h5>
            <p class="card-text">Nom : {{user.surname}}</p>
            <p class="card-text">Prénom : {{user.name}}</p>
            <p class="card-text">Adresse mail : {{user.email}}</p>
            <p class="card-text">Né(e) le : {{user.birth_date}}</p>
          </div>
        </div>
      {% endfor %}
    </div>

  {% else %}

    <p class="text-center">Impossible de trouver les utilisateurs !</p>
    
  {% endif %}

{% endblock %}